body {
        font-family: arial;
        font-size: 20px;
        background-color: green;
        background-image: url("poker_table.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

      }
ul #deck {
        display: inline;
        color: black;
        padding-top
        padding-right: 20em;
        padding-bottom:20em;
        padding-left:20em;
        height: 20em;
        width: 60em;
        background-color: green;
        border-radius: 10px;
        opacity: .6;
        margin: 40em;
        margin-top: 40em;


      }
li  {
        display: inline-block;
        width: 4em;
        text-align: center;
      }
